.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Mobile-Room-WinUUID/v16/.suo
.vs/Mobile-Room-WinUUID/v16/Browse.VC.db
.vs/Mobile-Room-WinUUID/v16/ipch/AutoPCH/d3a451b29345ca2c/WINUUID.ipch
.vs/Mobile-Room-WinUUID/v16/ipch/AutoPCH/d5eca5f5541bcdf0/WINUUID.ipch
.vs/WinUUID/v16/Browse.VC.db
.vs/WinUUID/v16/Browse.VC.db-shm
.vs/WinUUID/v16/Browse.VC.opendb
.vs/WinUUID/v16/ipch/AutoPCH/1755795752e2efc3/WINUUID.ipch
.vs/WinUUID/v16/ipch/AutoPCH/17f7fbf55e8bd0f4/WINUUID.ipch
.vs/WinUUID/v16/ipch/AutoPCH/dee4a2d6a1fd7346/WINUUID.ipch
